In [38]:
import pandas as pd

In [39]:
df=pd.read_csv("new_insurance_data.csv")

In [40]:
df.head(6)

   Age  Country  Salary  Insurance Purchase
0   56   Canada   27706                   1
1   46   Canada   29624                   1
2   32      USA   27666                   0
3   60   Canada   20892                   1
4   25   Canada   18561                   0
5   38  Nigeria   25470                   0

In [41]:
df["Salary"].max()

29948

In [42]:
df["Age"].max()

64

In [43]:
df["Salary"].min()

15206

In [44]:
df["Age"].min()

19

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 50 non-null     int64
 1   Country             50 non-null     object
 2   Salary              50 non-null     int64
 3   Insurance Purchase  50 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

In [46]:
dummies=pd.get_dummies(df.Country)

In [47]:
dummies.head(6)

   Canada  Nigeria  USA
0       1        0    0
1       1        0    0
2       0        0    1
3       1        0    0
4       1        0    0
5       0        1    0

In [48]:
megered=pd.concat([df,dummies],axis=1)
megered.head(6)

   Age  Country  Salary  Insurance Purchase  Canada  Nigeria  USA
0   56   Canada   27706                   1       1        0    0
1   46   Canada   29624                   1       1        0    0
2   32      USA   27666                   0       0        0    1
3   60   Canada   20892                   1       1        0    0
4   25   Canada   18561                   0       1        0    0
5   38  Nigeria   25470                   0       0        1    0

In [49]:
final_df=megered.drop(["Country","USA"],axis=1)

In [50]:
final_df.sample(6)

    Age  Salary  Insurance Purchase  Canada  Nigeria
26   39   29948                   1       0        0
29   44   25882                   1       0        0
16   39   26837                   1       0        1
23   38   23154                   1       1        0
11   41   28067                   1       0        1
5    38   25470                   0       0        1

In [51]:
x=final_df.drop("Insurance Purchase",axis=1)

In [52]:
x.head(6)

   Age  Salary  Canada  Nigeria
0   56   27706       1        0
1   46   29624       1        0
2   32   27666       0        0
3   60   20892       1        0
4   25   18561       1        0
5   38   25470       0        1

In [53]:
y=final_df["Insurance Purchase"]
y.head(6)

0    1
1    1
2    0
3    1
4    0
5    0
Name: Insurance Purchase, dtype: int64

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=30)

In [56]:
X_train.shape

(40, 4)

In [57]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [58]:
model.fit(X_train,y_train)

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [59]:
X_test

    Age  Salary  Canada  Nigeria
41   56   20977       0        0
20   47   17731       0        1
32   33   22385       0        0
43   21   22035       0        0
10   28   29151       0        1
29   44   25882       0        0
33   32   15502       0        1
25   29   20056       1        0
34   64   21910       0        0
19   61   29434       0        1

In [60]:
y_test

41    1
20    1
32    0
43    0
10    0
29    1
33    0
25    0
34    1
19    1
Name: Insurance Purchase, dtype: int64

In [61]:
model.predict([[18,1000,0,1]])

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [64]:
y_predicted=model.predict(X_test)

In [65]:
y_predicted

array([1, 1, 0, 0, 0, 1, 0, 0, 1, 1], dtype=int64)

In [69]:
model.score(x,y)

0.98

In [72]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_predicted)
print("Accuracy",accuracy)

Accuracy 1.0

In [ ]:
import joblib as jb
jb.dump(model,"")